body{
    background-color: #222d32;
}
.login-box-body {
    background-color: #eee;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.3);
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}
.login-box button {
    margin-left: 0px;
}

.login-box a:hover {
    cursor: pointer;
}
.login-logo{
    color: #ffffff;
}
.alert-login{
    border-radius: 0;
    padding: 5px 5px;
    margin-top: 3px;
    margin-bottom: 0px;
    background: #f00000;
    color: #ffffff
}
.btn-login{
    padding: 10px;
}
.btn-login, .btn-login:active, .btn-login:hover, .btn-login.focus {
    color: #ffffff!important;
    background-color: #222d32;
    border-color: #222d32;
}
.login-box .form-control-feedback{
    top: 5px;
}
.login-box .has-feedback .form-control{
    padding: 20px;
    padding-right: 42.5px;
}
.link-forgot-password, .link-forgot-password:hover, .link-forgot-password.focus, .link-forgot-password:active {
    color: #222d32!important;
    display: block;
    margin: 10px 0px 6px 0px;
}